<div class="container-fluid pt-2 py-md-4 px-3 px-md-5">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Dashboard</span>
    </a>
  </header>

  <div class="card pt-md-3 pt-lg-4 px-md-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body py-md-4 py-xl-5 my-3">
            <h1 class="card-title display-6 fw-bold mb-3">Overview</h1>

            <p class="card-text col-md-8 fs-5 mb-3">
              Customize this page with all kinds of useful widgets to maximize your productivity.
              <span class="text-secondary">(comming soon)</span>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <img class="img-fluid rounded-start my-md-5 my-lg-0" src="../../assets/illustrations/man-desk-abstract.png"
            alt="Man at a desk with abstract shapes" width="auto">
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="card pt-3 px-md-5 bg-light mb-3">
        <div class="container-fluid">
          <h4>New Feature</h4>
          <p class="text-secondary">(comming soon)</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card pt-3 px-md-5 bg-light mb-4">
        <div class="container-fluid">
          <h4>Dark mode</h4>
          <p class="text-secondary">(comming soon)</p>
        </div>
      </div>
    </div>
  </div>
</div>
